<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siaa.www.board.BoardMapper">
	
	<select id="selectBoard" parameterType="HashMap" resultType="BoardDTO">
		SELECT tb_board.*
			, write_user.UserNM as writeUserNM
			
		FROM tb_board
			LEFT OUTER JOIN tb_user as write_user
				ON write_user.userCD = tb_board.writeUserCD
			
		WHERE 1=1
			<if test='boardCD != null and boardCD != 0'>
			AND tb_board.boardCD = #{boardCD}
			</if>
			<if test='boardType != null and boardType != ""'>
			AND tb_board.boardType = #{boardType}
			</if>
			<if test='titleText_like != null and titleText_like != ""'>
			AND tb_board.titleText LIKE CONCAT('%', #{titleText_like}, '%')
			</if>
			<if test='contentText_like != null and contentText_like != ""'>
			AND tb_board.contentText LIKE CONCAT('%', #{contentText_like}, '%')
			</if>
			<if test='writeUserNM_like != null and writeUserNM_like != ""'>
			AND write_user.userNM LIKE CONCAT('%', #{writeUserNM_like}, '%')
			</if>
			<if test='writeDT_start != null and writeDT_start != ""'>
			AND tb_board.writeDT >= #{writeDT_start}
			</if>
			<if test='writeDT_end != null and writeDT_end != ""'>
			AND DATE(DATE_ADD(#{writeDT_end}, INTERVAL 1 DAY)) > tb_board.writeDT
			</if>
			
			<if test='deleteYN != null and deleteYN != 0'>
			AND tb_board.deleteYN = #{deleteYN}
			</if>
			
		ORDER BY tb_board.boardOrder DESC, tb_board.writeDT DESC
	</select>
	
	<select id="insertBoard" parameterType="HashMap" resultType="Long">
		SET @boardCD = (SELECT IFNULL(MAX(boardCD), 0) + 1 FROM tb_board);
		SET @boardOrder = (SELECT IFNULL(MAX(boardOrder), 0) + 1 FROM tb_board WHERE boardType = #{boardType});
		
		INSERT INTO tb_board (
			boardCD
			,boardType
			,boardOrder
			,titleText
			,titleHtml
			,contentText
			,contentHtml
			,contentEditor
			,writeUserCD
			,insertUserCD
			
		) VALUES (
			@boardCD
			,#{boardType}
			,@boardOrder
			,#{titleText}
			,#{titleHtml}
			,#{contentText}
			,#{contentHtml}
			,#{contentEditor}
			,#{writeUserCD}
			,#{insertUserCD}
		);
		
		SELECT @boardCD;
	</select>
	
	<update id="updateBoard" parameterType="HashMap">
		UPDATE tb_board
		<set>
			<if test='boardType != null and boardType != ""'>
			boardType = #{boardType},
			</if>
			<if test='boardOrder != null and boardOrder != 0'>
			boardOrder = #{boardOrder},
			</if>
			
			<if test='titleText != null and titleText != ""'>
			titleText = #{titleText},
			</if>
			<if test='titleHtml != null and titleHtml != ""'>
			titleHtml = #{titleHtml},
			</if>
			
			<if test='contentText != null and contentText != ""'>
			contentText = #{contentText},
			</if>
			<if test='contentHtml != null and contentHtml != ""'>
			contentHtml = #{contentHtml},
			</if>
			<if test='contentEditor != null and contentEditor != ""'>
			contentEditor = #{contentEditor},
			</if>
			
			<if test='writeUserCD != null and writeUserCD != 0'>
			writeUserCD = #{writeUserCD},
			</if>
			<if test='writeDT != null and writeDT != ""'>
			writeDT = #{writeDT},
			</if>
			
			<if test='readCount != null'>
			readCount = #{readCount},
			</if>
			<if test='readCount_add != null and readCount_add != 0'>
			readCount = IFNULL(readCount, 0) + #{readCount_add},
			</if>
			
			<!-- 업데이트 관련 -->
			<if test='updateUserCD != null and updateUserCD != 0'>
			updateUserCD = #{updateUserCD},
			updateDT = now(),
			</if>
			
			<!-- 삭제 관련 -->
			<if test='deleteYN != null and deleteYN == 1'>
			deleteYN = #{deleteYN},
			deleteDT = now(),
				<if test='deleteUserCD != null and deleteUserCD != 0'>
				deleteUserCD = #{deleteUserCD},
				</if>
			</if>
			<if test='deleteYN != null and deleteYN == -1'>
			deleteYN = #{deleteYN},
			deleteDT = NULL,
			deleteUserCD = NULL,
			</if>
		</set>
		WHERE boardCD = #{boardCD};
	</update>
</mapper>