<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="siaa.www.page.PageMapper">
	
	<select id="selectPage" parameterType="HashMap" resultType="PageDTO">
		SELECT tb_page.*
			
		FROM tb_page
			
		WHERE 1=1
			<if test='pageURL != null and pageURL != ""'>
			AND tb_page.pageURL = #{pageURL}
			</if>
			<if test='selectorNM != null and selectorNM != ""'>
			AND tb_page.selectorNM = #{selectorNM}
			</if>
			
			<if test='contentType != null and contentType != ""'>
			AND tb_page.contentType = #{contentType}
			</if>
			<if test='contentValue != null and contentValue != ""'>
			AND tb_page.contentValue = #{contentValue}
			</if>
			
			<if test='deleteYN != null and deleteYN != 0'>
			AND tb_page.deleteYN = #{deleteYN}
			</if>
	</select>
	
	<update id="updatePage" parameterType="HashMap">
		UPDATE tb_page
		<set>
			<if test='contentType != null and contentType != ""'>
			contentType = #{contentType},
			</if>
			<if test='contentValue != null and contentValue != ""'>
			contentValue = #{contentValue},
			</if>
			
			<!-- 업데이트 관련 -->
			<if test='updateUserCD != null and updateUserCD != 0'>
			updateUserCD = #{updateUserCD},
			updateDT = now(),
			</if>
			
			<!-- 삭제 관련 -->
			<if test='deleteYN != null and deleteYN == 1'>
			deleteYN = #{deleteYN},
			deleteDT = now(),
				<if test='deleteUserCD != null and deleteUserCD != 0'>
				deleteUserCD = #{deleteUserCD},
				</if>
			</if>
			<if test='deleteYN != null and deleteYN == -1'>
			deleteYN = #{deleteYN},
			deleteDT = NULL,
			deleteUserCD = NULL,
			</if>
		</set>
		WHERE pageURL = #{pageURL}
			AND selectorNM = #{selectorNM}
		;
	</update>
</mapper>